<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <div class="nav">
        <p>Phone Number: +254 791 019 770</p>
        <p>email: githukueliud@gmail.com</p>
        <a href="#"><button>login</button></a>
        <a href="#"><button>SignUp</button></a>
    </div>
    <div class="side-bar">
        <h2>Our Offers</h2>
        <button>Full Time Studies</button>
        <button>Town Campus Studies</button>
        <button>Part Time Studies</button>
        <button>Online Studies</button>
        <button>Adult Education</button>
        <button>Co Elib</button>
    </div>
    
</body>
</html>